{% extends 'gestionnaire/base.html.twig' %}

{% block title %}Edit EDL{% endblock %}
{% set doc = app.request.get('doc') %}
{% block body %}
    <h1>Editer <span class="text-danger">{{ e_d_l.type }}</span> pour <span class="text-info">{{ e_d_l.locataire.nomComplet }}</span></h1>
    <hr>
    {% if doc > 0 %}
        <h4>Documents manquants <span class="text-info h6">(Cocher les documents <b class="text-danger">MANQUANT</b>)</span></h4>
        <hr>
    {% endif %}
    {{ include('gestionnaire/edl/_form.html.twig', {'button_label': 'Update'}) }}


       <a href="{{ path('e_d_l_index') }}">
           <button class="btn btn-sm btn-info">
               <i class="fa fas fa-backward"></i>
           </button>
       </a>
&nbsp;
       {{ include('gestionnaire/edl/_delete_form.html.twig') }}
   </div>
    <hr>
    {% set locataire = e_d_l.locataire %}
    <h5><i class="fas fa-hotel"></i> Logement</h5>
    <div class="rounded bg-white border">
        <div class="row p-3">
            <div class="col-md-6">
                <strong>Residence:</strong> <br>
                <a href="{{ path('residence_show',{id:locataire.logement.residence.id}) }}"> {{ locataire.logement.residence.nom }} </a><br>
                {{ locataire.logement.residence.adresse }} <br>
                {{ locataire.logement.residence.ville.codePostal }} {{ locataire.logement.residence.ville.nom|upper }}
                <hr>
                {% set consoEner = locataire.logement.residence.consoEner %}
                {% set emiGaz = locataire.logement.residence.emigaz %}
                {{ include('extra/diag.html.twig') }}
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <strong> Appartement N°{{ locataire.logement.numero }}</strong>
                    </div>
                    <div class="col-md-6">
                        <strong> Loyer</strong>
                    </div>
                </div>
                <hr>
                <div class="small row">
                    <div class="col-md-12">
                        <div class="col-md-6 bg-light p-3 border border-right-0 rounded-left float-left">
                            <strong>Batiment:</strong> {{ locataire.logement.batiment }} <br>
                            <strong>Colocation:</strong> {{ locataire.colocation ? 'Oui' : 'Non' }} <br>
                            <strong>Etage:</strong> {{ locataire.logement.etage }} <br>
                            <strong>Situation:</strong> {{ locataire.logement.situation }} <br>
                            <strong>Type de couchage:</strong> {{ locataire.logement.typeLit }} <br>
                            <strong>Catégorie:</strong> {{ locataire.logement.typeLit }} <br>
                            <strong>Typologie:</strong> {{ locataire.logement.typeLogement }} <br>
                            <strong>Surface:</strong> {{ locataire.logement.surface }} <br>
                            <strong>Dépôt de garantie:</strong> {{ locataire.logement.residence.garantie }} <br>
                        </div>
                        <div class="col-md-6 bg-light rounded-right border p-3 border-left-0 float-right h-100">
                            <strong>Loyer hors charge:</strong> <span
                                    class="float-right text-info">{{ locataire.logement.loyer }}</span> <br>
                            <strong>Montant des charges :</strong> <span
                                    class="float-right text-info">{{ locataire.logement.charges }}</span> <br>
                            <strong>Cotisation accessoires:</strong> <span
                                    class="float-right text-info">{{ locataire.logement.cotisAcc }}</span> <br>
                            <strong>Cotisation services:</strong> <span
                                    class="float-right text-info">{{ locataire.logement.cotisServices }}</span> <br>
                            <hr>
                            <h5>TOTAL: <span class="float-right">{{ locataire.logement.loyerTotal }} €</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h5><i class="fas fa-user"></i> Locataire</h5>
    <div class="rounded bg-white border">
        <div class="row p-3">
            <div class="col-md-6">
                <a href="{{ path('locataire_show',{id:locataire.id}) }}">
                    <strong>{{ locataire.civilite }}
                        . {{ locataire.nom|upper }} {{ locataire.prenom|capitalize }}</strong>
                </a>
                <br>
                {{ locataire.adresse }} <br> {{ locataire.codePostal }} {{ locataire.ville|upper }}
                <br>
                <strong class="{% if locataire.dateNaissance is null %}text-danger{% endif %}">Date de
                    naissance:</strong> {{ locataire.dateNaissance|date('d/m/Y') }} <br>
                <strong class="{% if locataire.villeNaissance is null %}text-danger{% endif %}">Ville de
                    naissance:</strong> {{ locataire.villeNaissance }}
                <br>
                <strong class="{% if locataire.codeInsee is null %}text-danger{% endif %}">N° de sécurité sociale
                    :</strong> {{ locataire.codeInsee }}
            </div>
            <div class="col-md-6">
                <i class="fas fa-at"></i> {{ locataire.email }} <br>
                <i class="fas fa-phone"></i> {{ locataire.telFixe ? locataire.telFixe : locataire.telMobile }}
                <hr>
                <strong>Type d'adhérent:</strong> {{ locataire.typeAdh }} <br>
                <strong>Type de MRH:</strong> {{ locataire.typeMrh }}
            </div>
        </div>
        <div class="row p-3">
            <div class="col-md-6 small">
                Le
                prospect {{ locataire.cnilMgel ? '<span class="text-success">accepte</span>' : '<span class="text-danger">n\'accepte pas</span>' }}
                les communications MGEL.
                <br>
                Le
                prospect {{ locataire.cnilPartenaires ? '<span class="text-success">accepte</span>' : '<span class="text-danger">n\'accepte pas</span>' }}
                les communications des partenaires.
            </div>
            <div class="col-md-6">
                <strong>ID Gestionnaire: </strong><span class="text-info">{{ locataire.id }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 rounded border bg-light p-2 mb-3">
                <h6 class="font-weight-bold"><i class="fas fa-comment-dots"></i> Commentaire</h6>
                <div class="row text-center">
                    <div class="col-md-12">
                        {{ locataire.commentaire ? locataire.commentaire : 'Aucun commentaire...' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}
{% block javascripts %}
    <script>
        {% if doc > 0 %}
        $('#edl_logement').parent().parent().hide();
        $('#edl_type').parent().parent().hide();
        $('#edl_date').parent().parent().hide();
        {% endif %}
    </script>
{% endblock %}
