{% extends 'base.html.twig' %}

{% block title %}Résidences étudiantes avec services à Nancy, Mulhouse, Metz et Reims{% endblock %}

{% block body %}

    {#LANDING PAGE#}
    <section class="section-ter row" id="landing">
        <div class="landing-bg">
            <div class="cta-landing text-center">
                <h1 class="text-white">Résidences étudiantes <br> modernes et sécurisées</h1>
                <br>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus,nulla ut
                    commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
                <br>
                <a href="{{ path('reservation') }}">
                    <button class="btn-rounded border-0">
                        Je réserve mon logement étudiant
                    </button>
                </a>
            </div>
        </div>
    </section>

    {#DECOUVRIR MGEL#}
    <section>
        <div class="section-ter container">
            <div class="row">
                <div class="col-md-12 text-center mt-5 mb-2">
                    <h1 class="orange font-weight-bold">Découvrir MGEL Logement</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="modal fade" id="zoomImgModal_1" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <img class="w-100" src="{{ asset('assets/img/Laudine-3.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="img-container" data-toggle="modal" data-target="#zoomImgModal_1">
                            <img class="w-100 shadow-lg rounded image-index"
                                 src="{{ asset('assets/img/Laudine-3.jpg') }}" alt="">
                            <div class="overlay"></div>
                        </div>
                        <h5 class="mt-3">NOTRE CONCEPT</h5>
                        <p class="small">Nos résidences sont spécialement pensées pour les jeunes. Elles permettent
                            l’accès à des services régulièrement revisités, et proposent des logements fonctionnels.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="modal fade" id="zoomImgModal_2" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <img class="w-100" src="{{ asset('assets/img/salle_sport.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="img-container" data-toggle="modal" data-target="#zoomImgModal_2">
                            <img class="w-100 shadow-lg rounded image-index"
                                 src="{{ asset('assets/img/salle_sport.jpg') }}" alt="">
                            <div class="overlay"></div>
                        </div>

                        <h5 class="mt-3">NOS SERVICES</h5>
                        <p class="small">Parce que pour mieux réussir, il faut aussi s’accorder des moments de répits !
                            Nous mettons, à la disposition de nos résidants, des services utiles et divertissants.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="modal fade" id="zoomImgModal_3" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <img class="w-100" src="{{ asset('assets/img/qui_sommes_nous.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="img-container" data-toggle="modal" data-target="#zoomImgModal_3">
                            <img class="w-100 shadow-lg rounded image-index"
                                 src="{{ asset('assets/img/qui_sommes_nous.png') }}" alt="">
                            <div class="overlay"></div>
                        </div>

                        <h5 class="mt-3">RÉSERVATION EN 3 ETAPES</h5>
                        <p class="small">Constituez votre dossier, puis choisissez votre logement et enfin signer votre contrat </p>
                    </div>
                </div>
            </div>
            <div class="section-half">
                <div class="row mt-5">
                    <div class="col-md-6">
                        <img class="w-100 shadow-lg rounded" src="{{ asset('assets/img/soultz.jpg') }}" alt="">
                    </div>
                    <div class="col-md-6 text-black-50 ">
                        <h1 class="mt-5 font-weight-bold">Lorem ipsum dolor</h1>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus,
                            nulla ut commo-do sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat.
                            Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris, dictum porttitor
                            lacus est nec enim <br>
                            <button class="btn-rounded border-0 mt-3">
                                En savoir plus...
                            </button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    {#CTA MIDDLE#}
    <section class="bg-semi-dark cta-mid text-white row">
        <div class="container text-center">
            <div class="row">
                <div class="p-5">
                    <h1>Lorem ipsum dolor every inch of our products</h1>
                    <button class="btn-rounded border-0 mt-3">
                        Je réserve mon logement
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-black-50 ">
                    <h1 class="mt-5 font-weight-bold">Lorem ipsum dolor</h1>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus,
                        nulla ut commo-do sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat.
                        Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris, dictum porttitor
                        lacus est nec enim <br>
                        <button class="btn-rounded border-0 mt-3 mb-3">
                            En savoir plus...
                        </button>
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="w-100 shadow-lg rounded" src="{{ asset('assets/img/salon.jpg') }}" alt="">
                </div>
            </div>

            {# NOS RESIDENCE#}
            <div class="row mt-5">
                <div class="col-md-12 text-center mt-5 mb-2">
                    <h1 class="orange font-weight-bold">Nos Résidences</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <hr>
                </div>
            </div>

            <div class="row mb-5">
                <div class="pagination">
                    <a href="#" class="first" data-action="first">&laquo;</a>
                    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
                    <input type="text" readonly="readonly" data-max-page="40" />
                    <a href="#" class="next" data-action="next">&rsaquo;</a>
                    <a href="#" class="last" data-action="last">&raquo;</a>
                </div>
{{ residences|length }}

                <div class="col-md-1 text-center mt-5 pt-5">
                    <button class="btn-rounded border-0" id="resid-prev"><</button>
                </div>
                <div class="col-md-10">
                    {% for residence in residences %}
                        <div class="col-md-3 content float-left">
                            <div class="text-center">
                                <a href="{{ path('infos_residence',{ville:residence.ville.nom,nom:residence.nom}) }}">
                                    <div class="w-100 shadow-lg rounded"
                                         style="height:200px;background: url({{ asset('_src_/_img/'~residence.couverture) }}) no-repeat center;background-size: cover"></div>
                                </a>
                                <h5 class="mt-3">{{ residence.nom }}</h5>
                                <p class="small">{{ residence.intro[:100] }}...</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-1 text-center mt-5 pt-5">
                    <button class="btn-rounded border-0" id="resid-next">></button>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        $('.pagination').jqPagination({
            paged: function(page) {
                alert(page);
            }
        });
    </script>
{% endblock %}